body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lightSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
}

.lightSwitch button {
  padding: 30px 5px;
  border-radius: 10pt;
  font-size: 50pt;
}
